.env
env/
.venv
venv
*_venv/
*_env/

*.gguf
*.pt

__pycache__/
README.test.md
user_audio/
shared/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
.ruff_cache/

gpt_models/
whisper_models/
.env.prod
node_modules
dist
dist-ssr
*.local
ml_models/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.mp3
*.ogg
*.wav