body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

main {
  position: absolute;
  top: 0.5rem;
  left: 0;
  width: 100%;
  padding-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  height: 25px;
  width: 100%;
  padding: 1rem 2rem;
  background-color: #030220;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
}

.header-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.header-title {
  margin: 0;
  font-size: 24px;
  color: #f3f3f3;
}

.header-icon {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.tg_image {
  width: 32px;
  height: 32px;
  margin-right: 5rem;
  margin-top: 0.3rem;
}

.main-page {
  display: flex;
  flex-direction: column;
}

.chat-header {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #f1f1f1;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.chat-icon {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.chat-title {
  margin: 0;
  font-size: 20px;
  font-weight: bold;
}

.chat-container {
  width: 500px;
  height: 425px;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.chat-box {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
}

.chat-messages {
  display: flex;
  flex-direction: column;
}

/* .initial-message {
  text-align: center;
  width: 80%;
  margin: 0 auto;
  padding: 10px;
  background-color: #f1f1f1;
  border-radius: 10px;
} */

.user-message {
  align-self: flex-end;
  background-color: #007bff;
  color: #fff;
  padding: 10px;
  border-radius: 10px;
  max-width: 70%;
  margin-bottom: 10px;
  word-wrap: break-word;
  white-space: pre-wrap;
}

.gpt-message {
  align-self: flex-start;
  background-color: #f1f1f1;
  padding: 10px;
  border-radius: 10px;
  max-width: 70%;
  margin-bottom: 10px;
  word-wrap: break-word;
  white-space: pre-wrap;
}

.audio-message {
  display: block;
  align-self: flex-start;
  background-color: #f2f2f2;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
}

.text-input-container {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

#textInput {
  flex: 1;
  padding: 2px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: none;
  font-size: 16px;
}

#sendTextBtn {
  margin-left: 10px;
  margin-right: -3px;
  width: 35px;
  height: 35px;
  background-image: url("static/chat_arrow.png");
  background-size: contain;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  position: relative;
  transform-origin: 25% 50%;
}

#sendTextBtn:hover {
  width: 36px;
  height: 36px;
  transition: 0.2s;
}

#sendTextBtn:active {
  width: 35px;
  height: 35px;
  transition: 0.1s;
}

.button-container {
  display: flex;
  justify-content: center;
  padding: 10px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  margin: 0 5px;
}

#newBtn {
  margin-left: 1px;
  margin-right: 80px;
  margin-top: 7px;
  width: 35px;
  height: 35px;
  background-image: url("static/mic.png");
  background-size: contain;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  position: relative;
}

.Rec {
  animation-name: pulse;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

#resetBtn {
  margin-left: 25px;
  margin-right: 10px;
  padding: 10px;
  width: 25px;
  height: 25px;
  background-image: url("static/plus.png");
  background-size: contain;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  position: relative;
  border-radius: 50%;
}

#resetBtn:hover {
  transition: 0.3s ease;
  background-color: rgba(128, 128, 128, 0.15);
  box-shadow: 0 0 0 8px rgba(128, 128, 128, 0.15);
}

#outerBtn {
  position: relative;
  margin-right: -114px;
  width: 200px;
  height: 50px;
  background-color: rgb(245, 243, 243);
  border-radius: 50%;
}

#outerBtn:hover {
  background-color: rgb(215, 214, 214);
  transition: 0.2s;
}

.Rec-outer {
  animation-name: pulse-outer;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes pulse-outer {
  0% {
    background-color: rgba(173, 0, 0, 0.2);
  }
  50% {
    background-color: rgba(173, 0, 0, 0.1);
  }
  100% {
    background-color: rgba(173, 0, 0, 0.2);
  }
}

#settingsBtn {
  margin-left: 240px;
  margin-right: 1px;
  padding: 10px;
  width: 30px;
  height: 30px;
  background-image: url("static/settings_empty.png");
  background-size: contain;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  position: relative;
}

#settingsBtn:hover {
  background-image: url("static/settings_filled.png");
}

#settingsBtn:active {
  width: 28px;
  height: 28px;
  transition: 0.1s;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

.dropdown-menu {
  position: fixed;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f9f9f9;
  width: 400px;
  height: 400px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  border: 3px solid black;
}

.menu-header {
  width: 100%;
  height: 45px;
  background-color: #b0aeae;
  position: relative;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  border-bottom: 3px solid black;
}

#closeButton {
  position: absolute;
  top: -5px;
  right: -5px;
  background-color: transparent;
  border: none;
  font-size: 25px;
  cursor: pointer;
}

/************************/

.language-select-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.language-select-container label {
  margin-bottom: 5px;
  font-size: 16px;
}

#languageSelect {
  display: block;
  margin: 0 auto;
  padding: 5px;
  font-size: 16px;
}

/************************/

.llm-select-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.llm-select-container label {
  margin-bottom: 5px;
  font-size: 16px;
}

#llmSelect {
  display: block;
  margin: 0 auto;
  padding: 5px;
  font-size: 16px;
}

/************************/

.assistant-voice-select-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.assistant-voice-select-container label {
  margin-bottom: 5px;
  font-size: 16px;
}

#assistant-voiceSelect {
  display: block;
  margin: 0 auto;
  padding: 5px;
  font-size: 16px;
}
